<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler">
                    <i class="fa fa-align-justify" style="color:white"></i>
                </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="heading">
                <h3 class="uppercase">Bài viết</h3>
            </li>
            <li class="start active open">
                <a href="@Url.Action("Home","Home")">
                    <i class="fas fa-home"></i>
                    <span class="title">Quản lý</span>
                    <span class="selected"></span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li class="active">
                        <a href="@Url.Action("Index","Story")">
                            <i class="fas fa-clipboard-list"></i>
                            Danh sách bài viết
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Category")">
                            <i class="fas fa-clipboard-list"></i>
                            Danh sách nhóm
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Type")">
                            <i class="fas fa-clipboard-list"></i>
                            Danh sách loại
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-user"></i>
                            Tài khoản
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-recycle"></i>
                            Thùng rác
                        </a>
                    </li>
                </ul>
            </li>
            <li class="heading">
                <h3 class="uppercase">Chức năng</h3>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="fas fa-user"></i>
                    <span class="title">Người dùng</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="@Url.Action("Index","User")">
                            <i class="fas fa-users"></i>
                            <span class="title">Tất cả người dùng</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="heading">
                <h3 class="uppercase">More</h3>
            </li>

            <li class="last ">
                <a href="javascript:;">
                    <i class="icon-pointer"></i>
                    <span class="title">Maps</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="#">
                            Google Maps
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Vector Maps
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
