
@model IEnumerable<BlogTruyen_ValueObjects.Ousers>
@{
    ViewBag.urlReturn = HttpContext.Current.Request.Url.AbsoluteUri;
    ViewBag.Title = "Danh sách tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2 class="text-center">Danh sách tài khoản</h2>
<div>
    <a href="@Url.Action("Insert","User")" class="btn btn-info btn-block" style="margin-bottom:10px; float:right;">Thêm mới tài khoản</a>
</div>
<div class="table-responsive col-lg-12">
    <table class="table table-sm table-hover table-bordered table-striped">
        <tr>
            <th scope="col" style="text-align:center;" class="hidden">
                @Html.DisplayNameFor(x =>x.IdUser)
            </th>
            <th scope="col" style="text-align:center;">
                @Html.DisplayNameFor(x => x.FullName)
            </th>
            <th scope="col" style="text-align:center;">
                @Html.DisplayNameFor(x => x.Avatar)
            </th>
            <th scope="col" style="text-align:center;">
                @Html.DisplayNameFor(x => x.Address)
            </th>
            <th scope="col" style="text-align:center;">
                @Html.DisplayNameFor(x => x.Email)
            </th>
            <th scope="col" style="text-align:center;">
                @Html.DisplayNameFor(x => x.PhoneNumber)
            </th>
            <th scope="col" style="text-align:center;">
                @Html.DisplayNameFor(x => x.Sex)
            </th>
            <th scope="col" style="text-align:center;">
                @Html.DisplayNameFor(x => x.BirthDay)
            </th>
            <th scope="col" style="text-align:center;">
                @Html.DisplayNameFor(x => x.UserName)
            </th>
            <th scope="col" style="text-align:center;">
                @Html.DisplayNameFor(x => x.PassWord)
            </th>
            <th scope="col" style="text-align:center;">
                @Html.DisplayNameFor(x => x.DateCreate)
            </th>
            <th scope="col" style="text-align:center;">
                @Html.DisplayNameFor(x => x.IsActived)
            </th>
            <th scope="col" style="text-align:center;">
                @Html.DisplayNameFor(x => x.IsDelete)
            </th>
            <th scope="col" style="text-align:center;">
                @Html.DisplayNameFor(x => x.Role)
            </th>
            <th scope="col" style="text-align:center;">
            </th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row" style="text-align:center;" class="hidden">
                    @item.IdUser
                </td>
                <td scope="row" style="text-align:center;">
                    @item.FullName
                </td>
                <td scope="row" style="text-align:center;">
                   <img src="@item.Avatar" style="height:100px; width:100px" alt="avatar user" /> 
                </td>
                <td scope="row" style="text-align:center;">
                    @item.Address
                </td>
                <td scope="row" style="text-align:center;">
                    @item.Email
                </td>
                <td scope="row" style="text-align:center;">
                    @item.PhoneNumber
                </td>
                @{
                    if (item.Sex == false)
                    {
                        <td scope="row" style="text-align:center;">Nam</td>
                    }
                    else
                    {
                        <td scope="row" style="text-align:center;">Nữ</td>
                    }
                }

                <td scope="row" style="text-align:center;">
                    @item.BirthDay.ToString("dd-MM-yyyy")
                </td>
                <td scope="row" style="text-align:center;">
                    @item.UserName
                </td>
                <td scope="row" style="text-align:center;">
                    @item.PassWord
                </td>
                <td scope="row" style="text-align:center;">
                    @item.DateCreate.ToString()                
                </td>
                @{
                    if (item.IsDelete == true)
                    {
                        <td scope="row" style="text-align:center;">Đã xóa</td>
                    }
                    else
                    {
                        <td scope="row" style="text-align:center;">Đang sử dụng</td>
                    }
                }
                @{
                    if (item.IsActived == true)
                    {
                        <td scope="row" style="text-align:center;">Đã kích hoạt</td>
                    }
                    else
                    {
                        <td scope="row" style="text-align:center;">Chưa kích hoạt</td>
                    }
                }
                <td scope="row" style="text-align:center;" class="hidden">
                    @item.Role.RoleId
                </td>
                <td scope="row" style="text-align:center;">
                    @item.Role.RoleName
                </td>
                <td scope="row" style="text-align:center;">
                    <a href="@Url.Action("Update", "User", new { @id = item.IdUser })" class="btn btn-info"><i class="far fa-edit"></i></a>
                    <a href="" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </table>
</div>
@for (int i = 0; i <= ViewBag.MaxPage; i++)
{
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="@Url.Action("Index", new { pageIndex = i })">@(i + 1)</a>
        </li>
    </ul>
}


