@model IEnumerable<BlogTruyen_ValueObjects.Oposts>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@foreach (var item in Model)
{
<div class="media">
    <div class="d-flex">
        <img class="img-fluid" src="@item.Avatar" alt="">
    </div>
    <div class="media-body">
        <div class="choice_text">
            <div class="date">
                @{
                    var type = new BlogTruyen_Controller.cTypes().GetbyId(int.Parse(item.Type));
                    <a class="gad_btn" href="#">@type.TypeName</a>
                }
                <a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>@item.DateCreate.Value.ToShortDateString()</a>
                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>05</a>
            </div>
            <a href="news-details.html"><h4>@item.PostName</h4></a>
            <span>@Html.Raw(item.Introduction)</span>
        </div>
    </div>
</div>
}